.notes {
  display: flex;
  flex-direction: column;
  background-color: rgb(143, 245, 111);
  border-radius: 30px;
  height: 200px;
  padding: 30px;
  width: 155px;
  -webkit-box-shadow: 14px 16px 5px 0px rgba(133, 131, 133, 1);
  -moz-box-shadow: 14px 16px 5px 0px rgba(133, 131, 133, 1);
  box-shadow: 14px 16px 5px 0px rgba(133, 131, 133, 1);
}
.notes:hover{
  transform: scale(1.5);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category {
  background-color: transparent;
}
.showCategory {
  background-color: transparent;
  width: 50%;
  margin-top: 10px;
}
.showCategory input {
  width: -webkit-fill-available;
  color: rgb(34, 0, 255);
  font-weight: 700;
  font-size: 1rem;
  border-radius: 20px;
}
.text {
  flex: 1;
  font-size: 1rem;
  line-height: 2rem;
  outline: none;
  background-color: transparent;
  border: none;
}
