.notes {
  display: flex;
  flex-direction: column;
  background-color: rgb(98, 177, 237);
  border-radius: 30px;
  height: 270px;
  padding: 30px;
  width: 265px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  flex: 1;
  font-size: 1rem;
  line-height: 2rem;
  outline: none;
  background-color: transparent;
  border: none;
}


